.card {
  display: grid;
  grid-template-rows: 40% 60% auto;
  border: 1px solid #ccc;
  aspect-ratio: 3 / 5;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 1rem;
}
