.card {
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 160px auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.filterInfo {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.colorContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}
.button {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: red;
  color: white;
}

.price {
  font-weight: bold;
}
