.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.colorLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.colorInput {
  display: none;
}

.colorCircle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.selected {
  border: 1px solid grey;
  transform: scale(1.1);
}

.rood {
  color: red;
}
.groen {
  color: green;
}
.geel {
  color: gold;
}
.oranje {
  color: orange;
}

.all.selected {
  background: black;
}
