.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px;
  border-radius: 10px;
  font-weight: bold;
}

.brand {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  gap: 8px;
}

.logo {
  width: 40px;
  height: 40px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.link {
  padding: 4px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.link:hover {
  color: darkred;
  border-bottom: 2px solid darkred;
}
