.dot {
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.selected {
  transform: scale(1.1);
}

.selectedAll {
  background: black;
}

.rood {
  background: red;
}
.groen {
  background: green;
}
.geel {
  background: gold;
}
.oranje {
  background: orange;
}
.all {
  background: transparent;
}
