.dot {
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  transition: transform 0.2s ease;
}

.rood {
  background: red;
}
.groen {
  background: green;
}
.geel {
  background: gold;
}
.oranje {
  background: orange;
}
.all {
  background: transparent;
}
