.slider {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 999px;
  outline: none;
  background: linear-gradient(
    to right,
    red 0%,
    red var(--fill-percentage),
    #ddd var(--fill-percentage),
    #ddd 100%
  );
  transition: background 0.2s ease;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 30px;
  background: white;
  border: 4px solid red;
  border-radius: 999px;
  margin-top: -8px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 30px;
  background: white;
  border: 4px solid red;
  border-radius: 999px;
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.sliderInfo {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
